menu "Micro-Stratum Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "MeuWiFi"
        help
            Nome da rede WiFi para conectar.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "minhasenha"
        help
            Senha da rede WiFi.

    config BTC_ADDRESS
        string "Bitcoin Wallet Address"
        default "1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa"
        help
            Seu endereço de doação ou mineração.

    config POOL_URL
        string "Pool url"
        default "pool.nerdminer.io"
        help
            Endereço da pool de mineração.

    config POOL_PORT
        string "Pool port"
        default "3333"
        help
            Porta da pool de mineração.

    config WORKER_NAME
        string "Worker Name"
        default "MS-minis3"
        help
            Nome do worker na pool.

endmenu